@import "tailwindcss";
@import "tw-animate-css";
@custom-variant dark (&:is(.dark *));

/* ============================= raw css ========================== */

.sidebar_bg {
  background: linear-gradient(176deg, #212121 -17.27%, #0a0a0a 100%);
}
.sidebar_link_hover_bg {
  background-image: linear-gradient(
    90deg,
    rgba(24, 56, 39, 0.6) 0.01%,
    rgba(25, 57, 40, 0.06) 127.76%
  );
}
.sidebar_link_hover_bg_hover {
  background: linear-gradient(
    90deg,
    rgba(24, 56, 39, 0.6) 0.01%,
    rgba(25, 57, 40, 0.06) 127.76%
  );
}
.header_buttons_bg {
  background: linear-gradient(
    90deg,
    rgba(24, 56, 39, 0.6) 0.01%,
    rgba(25, 57, 40, 0.06) 127.76%
  );
}
.header_buttons_border {
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.project_overview_card_bg {
  background: #161616;
}

.on_going {
  background: linear-gradient(
    90deg,
    rgba(110, 68, 18, 0.56) 0.01%,
    rgba(110, 68, 18, 0.06) 127.76%
  );
  color: #ffba69;
}

.unfinished {
  background: linear-gradient(
    90deg,
    rgba(107, 36, 50, 0.5) 0.01%,
    rgba(107, 36, 50, 0.05) 127.76%
  );
  color: #ff708b;
}

.complete {
  background: linear-gradient(
    90deg,
    rgba(24, 56, 39, 0.6) 0.01%,
    rgba(25, 57, 40, 0.06) 127.76%
  );
  color: #0f9857;
}

/* =================================== sidebar =============================== */

/* Scrollbar */

/* ======================================================= */

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(64.71% 0.21732 36.839);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* ======================================================= */
.on_track_bg {
  background: linear-gradient(
    90deg,
    rgba(110, 68, 18, 0.56) 0.01%,
    rgba(110, 68, 18, 0.06) 127.76%
  );
  color: #ffba69;
}

.roadmap_progress_bg {
  background: linear-gradient(180deg, #3fd98b 0%, #21af68 100%);
}

.roadmap_view_all_btn {
  background: linear-gradient(
    90deg,
    rgba(24, 56, 39, 0.6) 0.01%,
    rgba(25, 57, 40, 0.06) 127.76%
  );
  padding: 8px 12px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
/* =================================== */
/* .main_bg{
    background: url('../public/bg-image/bg-top.png') top center no-repeat, 
    url('../public/bg-image/bg-bottom.png') center bottom no-repeat, 
    #1f1f1f;
    background-size: cover;
    
} */

.main_bg {
  background: url("../public/bg-image/bg-top.png") no-repeat top center,
    url("../public/bg-image/bg-bottom.png") no-repeat bottom center, #1f1f1f;
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
}

.sign_up_bg {
  background: url("../public/bg-image/bg-top.png") top center,
    url("../public/bg-image/bg-bottom.png") no-repeat bottom center, #1f1f1f;
  background-size: cover;
  background-repeat: no-repeat;
}

.auth_card_bg {
  background-color: rgba(0, 0, 0, 0.2);
}

.arrow_btn {
  background-image: linear-gradient(
    90deg,
    rgba(24, 56, 39, 0.6) 0.01%,
    rgba(25, 57, 40, 0.06) 127.76%
  );
  padding: 6px;
  border-radius: 4px;
}
.arrow_btn_date {
  background-image: linear-gradient(
    90deg,
    rgba(24, 56, 39, 0.6) 0.01%,
    rgba(25, 57, 40, 0.06) 127.76%
  );
  padding: 4px;
  border-radius: 4px;
}

.active_date {
  background-image: linear-gradient(
    90deg,
    rgba(24, 56, 39, 0.6) 0.01%,
    rgba(25, 57, 40, 0.06) 127.76%
  );
  color: #3fd98b;
  font-weight: 600;
  font-size: 16px;
}

.common_btn_bg {
  background-image: linear-gradient(
    90deg,
    rgba(24, 56, 39, 0.6) 0.01%,
    rgba(25, 57, 40, 0.06) 127.76%
  );
}

.at_risk_bg {
  background-image: linear-gradient(
    90deg,
    rgba(255, 186, 105, 0.2) 15.9%,
    rgba(255, 186, 105, 0.01) 119.87%
  );
}
/* .bgg{
    background-color: #ffffff0d;
} */

.job_search_btn_bg {
  background-image: linear-gradient(180deg, #3fd98b 0%, #21af68 100%);
}

.investor_pie_bg {
  background-image: url("../public/investor-pie-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.role_btn_bg{
    background-image: linear-gradient(90deg, rgba(24, 56, 39, 0.60) 0.01%, rgba(25, 57, 40, 0.06) 127.76%);
    background-size: cover;
    background-repeat: no-repeat;
}

.role_btn_bg:hover{
    background-image: linear-gradient(180deg, #3FD98B 0%, #21AF68 100%);
    background-size: cover;
    background-repeat: no-repeat;
}

.role_question_bg{
    background-image: linear-gradient(100deg, rgba(0, 0, 0, 0.00) -24.88%, #191919 100%);
    background-size: cover;
    background-repeat: no-repeat;
}

.welcome_card_bg{
    background-color: rgba(255, 255, 255, 0.02);
    background-size: cover;
    background-repeat: no-repeat;
}

.auth_btn_bg{
  background-image: linear-gradient(180deg, #3FD98B 0%, #21AF68 100%);
  background-size: cover;
  background-repeat: no-repeat;
}

.contact_card_timeline_bg{
  background-image: linear-gradient(90deg, rgba(24, 56, 39, 0.60) 0.01%, rgba(25, 57, 40, 0.06) 127.76%);
  background-size: cover;
  background-repeat: no-repeat;
}
 
.contact_bg{
  background-image: linear-gradient(112deg, rgba(0, 0, 0, 0.00) -9.83%, #191919 100%);
  background-size: cover;
  background-repeat: no-repeat;
}
 
.investment_idea_badge_bg{
  background-image: linear-gradient(90deg, rgba(24, 56, 39, 0.60) 0.01%, rgba(25, 57, 40, 0.06) 127.76%);
  background-size: cover;
  background-repeat: no-repeat;
}
.investment_idea_btn_bg{
  background-image: linear-gradient(180deg, #3FD98B 0%, #21AF68 100%);
  background-size: cover;
  background-repeat: no-repeat;
}